{% set url = path('ads_show', {'slug': ad.slug}) %}

<div class="col-md-4 d-flex align-items-stretch">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <strong>{{ ad.rooms }}</strong> chambres, <strong>{{ ad.price | number_format(2, ',', ' ') }}&euro;</strong> par nuit<br>

            {% if ad.comments|length > 0 %}
                {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %}
            {% else %}
                <small>Pas encore noté</small>
            {% endif %}

        </div>
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="{{ ad.title }}"
                 style="height: 200px; width: 100%; display: block">
        </a>
        <div class="card-body d-flex flex-column justify-content-between">
            <h4 class="card-title">
                <a href="{{ url }}">{{ ad.title }}</a>
            </h4>
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            <div class="ad-buttons d-flex flex-row-reverse flex-wrap">
                <a href="{{ url }}" class="btn btn-success w-30 ">En savoir plus</a>
                {% if app.user == ad.getAuthor() %}
                    <a href="{{ path('ads_edit', {"slug": ad.slug}) }}" class="btn btn-primary w-40">
                        Modifier l'annonce
                     </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
