{% extends 'base.html.twig' %}

{% block title %}Edition de l'annonce {{ ad.title }}{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Modifification de l'annonce <em>{{ ad.title }}</em></h1>

        {{ form_start(form) }}

        {% include 'partials/ad_form.html.twig' with {'form': form} %}

        <div class="alert alert-success clearfix">
            <h2 class="alert-heading">Modifier mon annonce</h2>
            <p>Vous êtes sur le point de modifier votre annonce!</p>
            <button type="submit" class="btn btn-primary float-right">
                <i class="fas fa-check"></i>
                Enregistrer les modifications
            </button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/ad') }}
{% endblock %}
